{% extends "base.html" %}

{% block content %}
<div class="card__container">
  <a href="{{ html_url }}" target="_blank" rel="noopener noreferrer">
    <header>
      <h2>
        {{ owner }}/<br />
        <strong>{{ name }}</strong>
      </h2>
      <img src="{{ avatar_url }}" alt="{{ owner }}" loading='lazy' />
    </header>
    <footer>
      <section>
        {% if open_issues_count > 0 %}
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path
              d="M12 1c6.075 0 11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1ZM2.5 12a9.5 9.5 0 0 0 9.5 9.5 9.5 9.5 0 0 0 9.5-9.5A9.5 9.5 0 0 0 12 2.5 9.5 9.5 0 0 0 2.5 12Zm9.5 2a2 2 0 1 1-.001-3.999A2 2 0 0 1 12 14Z">
            </path>
          </svg>
          <span>{{ open_issues_count }}</span>
        </div>
        {% endif %}
        {% if stargazers_count > 0 %}
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path
              d="m12.672.668 3.059 6.197 6.838.993a.75.75 0 0 1 .416 1.28l-4.948 4.823 1.168 6.812a.75.75 0 0 1-1.088.79L12 18.347l-6.116 3.216a.75.75 0 0 1-1.088-.791l1.168-6.811-4.948-4.823a.749.749 0 0 1 .416-1.279l6.838-.994L11.327.668a.75.75 0 0 1 1.345 0Z">
            </path>
          </svg>
          <span>{{ stargazers_count }}</span>
        </div>
        {% endif %}
        {% if watchers_count > 0 %}
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path d="M15.5 12a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"></path>
            <path
              d="M12 3.5c3.432 0 6.124 1.534 8.054 3.241 1.926 1.703 3.132 3.61 3.616 4.46a1.6 1.6 0 0 1 0 1.598c-.484.85-1.69 2.757-3.616 4.461-1.929 1.706-4.622 3.24-8.054 3.24-3.432 0-6.124-1.534-8.054-3.24C2.02 15.558.814 13.65.33 12.8a1.6 1.6 0 0 1 0-1.598c.484-.85 1.69-2.757 3.616-4.462C5.875 5.034 8.568 3.5 12 3.5ZM1.633 11.945a.115.115 0 0 0-.017.055c.001.02.006.039.017.056.441.774 1.551 2.527 3.307 4.08C6.691 17.685 9.045 19 12 19c2.955 0 5.31-1.315 7.06-2.864 1.756-1.553 2.866-3.306 3.307-4.08a.111.111 0 0 0 .017-.056.111.111 0 0 0-.017-.056c-.441-.773-1.551-2.527-3.307-4.08C17.309 6.315 14.955 5 12 5 9.045 5 6.69 6.314 4.94 7.865c-1.756 1.552-2.866 3.306-3.307 4.08Z">
            </path>
          </svg>
          <span>{{ watchers_count }}</span>
        </div>
        {% endif %}
        {% if forks_count > 0 %}
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path
              d="M8.75 19.25a3.25 3.25 0 1 1 6.5 0 3.25 3.25 0 0 1-6.5 0ZM15 4.75a3.25 3.25 0 1 1 6.5 0 3.25 3.25 0 0 1-6.5 0Zm-12.5 0a3.25 3.25 0 1 1 6.5 0 3.25 3.25 0 0 1-6.5 0ZM5.75 6.5a1.75 1.75 0 1 0-.001-3.501A1.75 1.75 0 0 0 5.75 6.5ZM12 21a1.75 1.75 0 1 0-.001-3.501A1.75 1.75 0 0 0 12 21Zm6.25-14.5a1.75 1.75 0 1 0-.001-3.501A1.75 1.75 0 0 0 18.25 6.5Z">
            </path>
            <path
              d="M6.5 7.75v1A2.25 2.25 0 0 0 8.75 11h6.5a2.25 2.25 0 0 0 2.25-2.25v-1H19v1a3.75 3.75 0 0 1-3.75 3.75h-6.5A3.75 3.75 0 0 1 5 8.75v-1Z">
            </path>
            <path d="M11.25 16.25v-5h1.5v5h-1.5Z"></path>
          </svg>
          <span>{{ forks_count }}</span>
        </div>
        {% endif %}
      </section>
      <section>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20">
          <path
            d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z">
          </path>
        </svg>
      </section>
    </footer>
  </a>
</div>
{% endblock %}


<!-- interface IProps {
repository: IRepository
}

const RepoCard: FC<IProps> = ({ repository }) => {
  return (
  <div className={styles.card__container}>
    <a href={repository.html_url} target='_blank' rel=" noreferrer">
      <header>
        <h2>
          {repository.owner.login}/<br />
          <strong>{repository.name}</strong>
        </h2>
        <img src={repository.owner.avatar_url} alt={repository.owner?.login ?? 'Owner' } loading='lazy' />
      </header>
      <footer>
        <section>
          {!!repository.open_issues && (
          <div>
            <Icon icon='issue-small' />
            <span>{repository.open_issues}</span>
          </div>
          )}
          {!!repository.stargazers_count && (
          <div>
            <Icon icon='star-small' />
            <span>{repository.stargazers_count}</span>
          </div>
          )}
          {!!repository.watchers_count && (
          <div>
            <Icon icon='eye-small' />
            <span>{repository.watchers_count}</span>
          </div>
          )}
          {!!repository.forks_count && (
          <div>
            <Icon icon='fork-small' />
            <span>{repository.forks_count}</span>
          </div>
          )}
        </section>
        <section>
          <Icon icon='github' />
        </section>
      </footer>
      <LanguagesBadge languages={repository.languages} />
  </a>
</div>
)
}

export default RepoCard -->
